@charset "UTF-8";
a, p {
  color: #18111F;
}

a:hover {
  text-decoration: underline;
  color: #C40000;
}

.header {
  height: 135px;
}

.header div.top {
  height: 30px;
  font-size: 14px;
  padding-top: 10px;
}

.header div.top p span {
  display: inline-block;
  color: #18111F;
}

.header div.top li {
  float: left;
}

.header div.top li a {
  color: #18111F;
  padding: 2px  8px;
}

.header div.top li.denglu {
  margin: 0 5px;
}

.header div.top li.denglu a {
  color: #C40000;
}

.header div.top li:hover a {
  color: #C40000;
  text-decoration: underline;
}

.header div.logo {
  height: 90px;
}

.header div.logo h1 {
  margin: 21px 174px 0 0;
}

.header div.logo h1 a {
  display: block;
  text-indent: -9999em;
  width: 197px;
  height: 43px;
  background: url("../images/logo.png") no-repeat;
}

.header div.logo form.seach {
  margin-top: 20px;
  width: 416px;
  height: 70px;
  box-sizing: border-box;
  position: relative;
}

.header div.logo form.seach input.inputText {
  width: 342px;
  height: 32px;
  border: 2px solid #C40001;
  padding-left: 10px;
}

.header div.logo form.seach input.seachBtn {
  width: 60px;
  height: 36px;
  border: 2px solid #C40001;
  background: #C40001;
}

.header div.logo form.seach i {
  position: absolute;
  color: #fffdef;
  font-size: 24px;
  top: 4px;
  right: 21px;
}

.header div.logo form.seach p {
  margin-top: 7px;
  font-size: 12px;
}

.header div.logo form.seach p span {
  margin: 3px 5px;
}

.header div.logo div.logo_right {
  margin-top: 20px;
  width: 350px;
  height: 35px;
}

.header div.logo div.logo_right div {
  float: left;
  position: relative;
}

.header div.logo div.logo_right div > a {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  padding: 0 10px;
  margin-right: 5px;
  line-height: 35px;
  box-sizing: border-box;
  border: 1px solid #F7F7F7;
  background: #F7F7F7;
  position: relative;
}

.header div.logo div.logo_right div a:last-child {
  margin-right: 0;
}

.header div.logo div.logo_right div ul {
  position: absolute;
  background: red;
  font-size: 12px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #dddddd;
}

.header div.logo div.logo_right div .logo_ul1 {
  width: 120px;
  display: none;
}

.header div.logo div.logo_right div .logo_ul1 li a {
  padding: 2px 9px;
  display: block;
  height: 30px;
  line-height: 30px;
}

.header div.logo div.logo_right div .logo_ul1 li:hover {
  background: #eeeeee;
}

.header div.logo div.logo_right div .logo_ul2 {
  width: 337px;
  height: 80px;
  left: -127px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  position: absolute;
  background: #fff;
  text-align: center;
  font-size: 12px;
  display: none;
}

.header div.logo div.logo_right div .logo_ul2 div {
  line-height: 80px;
  margin-left: 55px;
}

.header div.logo div.logo_right div .logo_ul2 div i {
  font-size: 38px;
  color: #cccccc;
  margin-top: 40px;
}

.header div.logo div.logo_right .myJianyi:hover .logo_ul1 {
  display: block;
  z-index: 3;
}

.header div.logo div.logo_right .shopCar:hover .logo_ul2 {
  display: block;
}

.header div.logo div.logo_right .yuyue:hover .logo_ul2 {
  display: block;
}

.header div.logo div.logo_right .yuyue .logo_ul2 {
  left: -231px;
}

#nav {
  width: 100%;
  height: 40px;
  background: #C40000;
}

#nav .nav {
  height: 40px;
  position: relative;
}

#nav .nav > li {
  float: left;
  position: relative;
}

#nav .nav > li > a {
  display: block;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
}

#nav .nav > li:hover > a {
  background: #B00000;
}

#nav .nav > li.allGoodsCategory {
  width: 204px;
  background: #B00000;
}

#nav .nav > li.allGoodsCategory:hover > a {
  text-decoration: underline;
}

#nav .nav .menu_2 {
  width: 100%;
  height: 420px;
  border: 2px solid #C40000;
  background: #FFFFFF;
  position: absolute;
}

#nav .nav .menu_2 > li {
  padding: 7px 10px;
  box-sizing: border-box;
  list-style: disc;
  list-style-position: inside;
  font-size: 12px;
}

#nav .nav .menu_2 > li i {
  color: #BCBCBC;
}

#nav .nav .menu_2 > li .menu_3 {
  display: none;
  position: absolute;
  top: -4px;
  left: 202px;
  width: 800px;
  height: 425px;
  background: #fff;
  border: 2px solid #C40000;
}

#nav .nav .menu_2 > li .menu_3 .menu3_left {
  box-sizing: border-box;
  width: 600px;
  padding: 20px 10px;
}

#nav .nav .menu_2 > li .menu_3 .menu3_left ul > li {
  float: left;
}

#nav .nav .menu_2 > li .menu_3 .menu3_left ul > li a {
  display: inline-block;
  padding: 0 5px;
  margin: 5px 0;
  border-left: 1px solid #ccc;
}

#nav .nav .menu_2 > li .menu_3 .menu3_left .first_li {
  font-weight: bold;
  border: 0 none;
}

#nav .nav .menu_2 > li .menu_3 .menu3_right {
  padding: 20px 10px;
  box-sizing: border-box;
  width: 198px;
  height: 400px;
  border-left: 1px solid #ccc;
}

#nav .nav .menu_2 > li .menu_3 .menu3_right h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

#nav .nav .menu_2 > li .menu_3 .menu3_right div span {
  display: inline-block;
  width: 50px;
  margin: 3px 0;
}

#nav .nav .menu_2 > li:hover {
  z-index: 9;
  width: 206px;
  border: 1px solid #C40000;
  border-right-color: #fff;
  background: #f6f6f6;
}

#nav .nav .menu_2 > li:hover .menu_3 {
  display: block;
  z-index: 6;
}

#nav .nav .menu_2 > li:hover i {
  display: none;
}

#btmLink {
  height: 411px;
  width: 100%;
  background: #E6E6E6;
  font-size: 12px;
}

#btmLink .btmLink .linktop {
  padding-top: 16px;
  box-sizing: border-box;
  height: 97px;
  border-bottom: 1px solid #D0D0D0;
}

#btmLink .btmLink .linktop p {
  margin: 5px 10px;
}

#btmLink .btmLink .linktop p span {
  color: #372D25;
}

#btmLink .btmLink .linktop p a {
  color: #797A83;
}

#btmLink .btmLink .linkmid {
  margin: 20px auto;
  text-align: center;
}

#btmLink .btmLink .linkbtm {
  text-align: center;
  margin: 0 auto;
}

#btmLink .btmLink > p {
  text-align: center;
  color: #3E3A32;
}

/*在线咨询*/
.Online_Consulting {
  width: 200px;
  height: 37px;
  position: fixed;
  top: 40%;
}

.Online_Consulting > img {
  display: block;
  margin-bottom: 10px;
}

.Online_Consulting p {
  position: absolute;
  border: 1px solid #dddddd;
  background: #FFFFFF;
  border-radius: 7px;
}

.Online_Consulting p.p1 {
  width: 112px;
  height: 211px;
  top: -72px;
  left: -124px;
}

.Online_Consulting p.p1 > img {
  width: 98%;
}

.Online_Consulting p.p2 {
  width: 151px;
  height: 181px;
  top: 53px;
  left: -180px;
  text-align: center;
  line-height: 181px;
}

.Online_Consulting p.p2 > img {
  width: 116px;
  height: 139px;
}

.znNav {
  border: 1px solid #dddddd;
  font-size: 12px;
  margin: 30px auto;
}

.znNav h3.btmTit {
  padding-left: 40px;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dddddd;
}

.znNav p {
  padding: 20px;
}

.znNav p a {
  display: inline-block;
  margin: 8px 5px;
}

.reMen {
  border: 1px solid #dddddd;
}

.reMen h3.btmTit {
  padding-left: 40px;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dddddd;
}

.reMen ul {
  height: 218px;
  border: 1px solid #dddddd;
  border-top: 0 none;
}

.reMen ul li {
  float: left;
  width: 200px;
  font-size: 12px;
  padding: 17px 0 0 32px;
}

.reMen ul li img {
  width: 80px;
}
