span.span2 {
  right: 0;
}

span.span4 {
  right: 0;
}

#banner .banner #lunbo {
  margin: 10px 10px 10px 228px;
  position: relative;
}

#banner .banner #lunbo .pageDiv {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#banner .banner #lunbo .pageDiv > span {
  display: inline-block;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  margin-right: 5px;
  height: 20px;
  border-radius: 50%;
  background: #A49286;
}

#banner .banner #lunbo ul li {
  float: left;
}

#banner .banner #lunbo > span {
  position: absolute;
  top: 40%;
  z-index: 2;
  display: block;
  width: 40px;
  line-height: 80px;
  height: 80px;
  background: #ccc;
  transition: opacity 500ms;
  opacity: 0;
}

#banner .banner #lunbo > span i {
  font-size: 44px;
}

#banner .banner #lunbo > span:hover {
  opacity: 0.5;
}

#banner .banner .banner_right {
  margin-top: 10px;
  width: 210px;
  height: 254px;
  position: relative;
}

#banner .banner .banner_right ul.tab_title {
  border: 1px solid #dddddd;
  height: 30px;
  background: #F8F8F8;
}

#banner .banner .banner_right ul.tab_title > li {
  float: left;
  padding: 4px 10px;
}

#banner .banner .banner_right ul.tab_title .li_1 {
  background: #FAFAFA;
  border-bottom: 2px solid #FAFAFA;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

#banner .banner .banner_right .showImg {
  border: 1px solid #ddd;
  border-top: 0 none;
  height: 226px;
}

#banner .banner .banner_right .showImg ul.tab_show {
  position: absolute;
  width: 220px;
  display: none;
}

#banner .banner .banner_right .showImg ul.tab_show > li {
  position: absolute;
}

#banner .banner .banner_right .showImg ul.tab_show > li img {
  width: 90%;
}

#banner .banner .banner_bottom {
  margin-left: 227px;
  width: 741px;
  height: 140px;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

#banner .banner .banner_bottom > span {
  position: absolute;
  top: 21%;
  z-index: 2;
  display: block;
  width: 40px;
  line-height: 80px;
  height: 80px;
  background: #ccc;
  transition: opacity 500ms;
  opacity: 0;
}

#banner .banner .banner_bottom > span i {
  font-size: 44px;
}

#banner .banner .banner_bottom > span:hover {
  opacity: 0.5;
}

#banner .banner .banner_bottom ul {
  width: 3705px;
  position: absolute;
}

#banner .banner .banner_bottom ul > li {
  float: left;
  border: 1px solid #dddddd;
}

#banner .banner .banner_bottom ul > li img {
  width: 98%;
}

#banner .banner .banner_rb {
  width: 210px;
  height: 140px;
  border: 1px solid #dddddd;
}

#banner .banner .banner_rb img {
  width: 90%;
}

.hot {
  width: 965px;
  height: 306px;
  margin-top: 20px;
}

.hot .hot_title {
  height: 33px;
}

.hot .hot_title h3 {
  width: 200px;
}

.hot .hot_title ul li {
  float: left;
  width: 100px;
  height: 33px;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
}

.hot .hot_title ul .lihover {
  height: 33px;
  color: #E75B5C;
  background: #FFFFFF;
  border: 1px solid #dddddd;
  border-bottom: 0 none;
}

.hot .hot_content {
  border: 1px solid #ddd;
  height: 273px;
}

.hot .hot_content li {
  width: 240px;
  height: 273px;
  float: left;
  box-sizing: border-box;
  padding: 13px 15px 8px  15px;
}

.hot .hot_content li a {
  display: block;
  font-size: 12px;
  margin: 10px 0px;
}

.hot .hot_content li p {
  color: #E75B5C;
}

.adv {
  width: 225px;
  margin-top: 20px;
}

.adv a.a1 {
  display: block;
  width: 225px;
  height: 200px;
}

.adv a.a1 img {
  width: 100%;
  height: 100%;
}

.adv a.a2 {
  display: block;
  width: 225px;
  height: 108px;
}

.adv a.a2 img {
  width: 100%;
  height: 100%;
}

#F1 {
  margin: 10px 0px 10px;
}

#F1 .f_1 h2 {
  height: 28px;
  border-bottom: 2px solid #28BAC7;
}

#F1 .f_1 h2 span.span_1 {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: #28BAC7;
  font-weight: bold;
  color: #FFFFFF;
}

#F1 .f_1 h2 span.span_2 {
  margin: 0px 60px 0px 20px;
  font-size: 18px;
  font-weight: bold;
}

#F1 .f_1 h2 span.fr {
  margin-top: 10px;
  font-size: 12px;
}

#F1 .f_1 h2 > a {
  font-size: 14px;
  margin: 0 10px;
}

#F1 .f_1 h2 > a:hover {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

#F1 .f_1 .F1_left {
  width: 203px;
  position: relative;
  height: 376px;
}

#F1 .f_1 .F1_left .f_1_left {
  width: 203px;
  background: #F1EDEC;
  padding: 10px;
  height: 353px;
  box-sizing: border-box;
}

#F1 .f_1 .F1_left .f_1_left > li {
  height: 85px;
  border-bottom: 1px solid #E5DFDD;
}

#F1 .f_1 .F1_left .f_1_left > li > span {
  display: block;
  color: #676767;
}

#F1 .f_1 .F1_left .f_1_left > li > a {
  font-size: 14px;
  color: #676767;
  padding: 5px 9px;
}

#F1 .f_1 .F1_left a.ypzq {
  display: block;
  width: 203px;
  height: 23px;
  background: #28BAC7;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
}

#F1 .f_1 .F1_mid {
  width: 794px;
  height: 376px;
}

#F1 .f_1 .F1_mid > a {
  float: left;
}

#F1 .f_1 .F1_mid ul li {
  text-align: center;
  float: left;
  width: 198px;
}

#F1 .f_1 .F1_mid ul li a {
  text-align: left;
  display: block;
  margin: 10px 20px;
  font-size: 12px;
}

#F1 .f_1 .F1_mid ul li p {
  text-align: left;
  color: red;
  margin: 10px 0px 0px 14px;
}

.btmHot {
  margin-bottom: 44px;
}

.btmHot h3 {
  height: 34px;
  line-height: 34px;
  padding-left: 20px;
  border: 1px solid #dddddd;
}

.btmHot ul {
  height: 218px;
  border: 1px solid #dddddd;
  border-top: 0 none;
}

.btmHot ul li {
  float: left;
  width: 200px;
  font-size: 12px;
  padding: 17px 0 0 32px;
}

.btmHot ul li img {
  width: 80px;
}

.d2 {
  padding: 0px 4px;
  color: #C40000;
}
